__pycache__/
*.pyc
*.log
_tmp/
data/channels/*/_download_tmp/
data/channels/*/_logs/
data/channels/*/articles/_logs/
data/channels/*/articles/_prompts/
data/channels/*/articles/_scripts/
data/channels/*/articles/_run_fill_missing*.log
